language: cpp

sudo: false

addons:
  apt:
    packages:
    - git
    - dpkg-dev
    - make
    - g++
    - gcc
    - binutils
    - libx11-dev
    - libxpm-dev
    - libxft-dev
    - libxext-dev

install: true

cache:
  directories:
    - /home/travis/reference
    - /home/travis/hk-hyperk
    - /home/travis/hk-config
    - /home/travis/CLHEP
    - /home/travis/Geant4
    - /home/travis/root
    

before_cache:
  - cp output/* reference/
  - mv reference /home/travis/
  - mv build/hk-hyperk /home/travis/
  - mv build/CLHEP /home/travis/
  - mv build/Geant4 /home/travis/
  - mv build/hk-config /home/travis/
  - mv build/root /hometravis/
  - 
script: ./CI.sh;

