language: cpp

sudo: false

addons:
  apt:
    packages:
    - git
    - dpkg-dev
    - make
    - g++-4.8
    - gcc
    - binutils
    - libx11-dev
    - libxpm-dev
    - libxft-dev
    - libxext-dev
    - libatomic-ops-dev 
   


install: true

cache:
  directories:
    - /home/travis/reference
    - /home/travis/CLHEP
    - /home/travis/Geant4
    - /home/travis/root
    
script: ./CI.sh dependancies

