language: cpp

sudo: false

addons:
  apt:
    packages:
    - git
    - dpkg-dev
    - make
    - g++
    - gcc
    - binutils
    - libx11-dev
    - libxpm-dev
    - libxft-dev
    - libxext-dev

install: true

cache:
  directories:
    - /home/travis/reference
    - /home/travis/hk-hyperk
    - /home/travis/hk-config
    - /home/travis/CLHEP
    - /home/travis/Geant4
    - /home/travis/root
    
script: ./CI.sh dependancies;

